/*COLORS
BOOTSTRAP BLUE: BTN PRIMARY #337AB7
BS DARKER BLUE: 			#2E6DA4
BS NAV TAB LINK:			#337AB7

*/

body {
	background-color: #2E6DA4;
	color: white;
}

a {
	color: white;
}

h1 {
	color: white;
}